﻿<script type="text/javascript">

	$(document).ready(function() {
        setInterval("getCountData()",5000);
    });

	function getCountData() {
		$.ajax({
	        type: "GET",
	        dataType: "json",
		    data: { deviceId: "d1", fileName: "mock_data.txt" },
	        url: '@Url.Action("GetEventsCount", "Home")',
	        contentType: "application/json; charset=utf-8",
	        success: function (data) {
		        data = JSON.parse(data);
		        $("#events-count").append("<tr>")
	           $("tr:last").append("<td>"+data.deviceId + "</td>").append("<td>"+data.count + "</td>");
	        },
	        error: function(xhr, status, error) {
	            console.log(error);
	        }
	    });
	}
</script>
<table id="events-count">
	<tr>
	    <th>Device-Id</th>
	    <th>Count</th> 
  </tr>
</table>